---
layout: default
---

<header class="header">
  <div class="container">
    <!-- {% if site.logo %}{% include site-logo.html %}{% endif %} -->

    {% include nav-header.html %}
  </div>

</header>


<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {{ content }}

    {% include nav-share.html %}

    {% include post-comments.html %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
